:root{
    --green: #C7E6AE;
    --dark-green: #a6c18f;
    --light-green: #d1f1b6;
    --padding-top: 1.5vh;
    --img-opa:0.9;
    --img-hover-opa:0.6;
}
.hor-border{
    width: 35%;
    height: 3px;
    background-color: black;
}
.img-header{
    opacity: var(--img-opa);
    width: 30%;
    position: fixed;
    left: -3.5vw;   
    bottom: 0;
}
.img-header1{
    opacity: var(--img-opa);
    width: 15%;
    position: fixed;
    right: 0;
    bottom: 0;
}
.img-body{
    border-radius: 25px;
    width: 40vw;
}
.icon{
    width: 2.7vw;
    height: 2.7vw;
    padding-bottom: 10px;
    margin-top: 2vh;
    margin-right: 2vw;
}
.icon:hover{
    opacity: 0.6;
    cursor: pointer;
}
.big-container{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-ajax{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:40vw;
}
.body-element{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    width: 18vw;
    height: 10vh;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    margin-bottom: 0;
}
.body-element:hover{
    border-color: var(--dark-green);
    cursor: pointer;
    color: var(--dark-green);
    transition: 0.12s;
    background-color: var(--light-green);
}   
.footer{
    display: flex;
    justify-content: center;
}
.img-container{
    display: flex;
    flex-direction: column;
    width: inherit;
}
.img-gallery{
    border-radius: 25px;
    margin-bottom: 2vh;
    width: inherit;
}
.small-text{
    font-size: 1.5vw;
    font-weight: 200;
}
.icon-container{
    margin-top:2vh;
    display: flex;
    justify-content: center;
}
.big-element{
    width: 35vw;
}
.img-body{
    width:35vw;
    justify-self: center;
}
.back-next-container{
    display: flex;
    justify-content: space-between;
}
.img-sax{
    position: absolute;
    top: 2vh;
    left:2vh;
    border-style: solid;
    border-width: 8px;
    border-color: #212529;
    border-radius: 7px;
    background-color: var(--green);
    width: 12vw;
}
.img-sax:hover{
    background-color: var(--dark-green);
    opacity: 0.9;
    cursor: pointer;
}
.warning{
    position: absolute;
    top: 18.5vw;
    left: 1vw;
}
.warning-element{
    font-size:1.3vw;
}
.header-container{
    display: flex;
    justify-content: center;
}
.header{
    width:45vw;
}
.header:hover{
    cursor: pointer;
}
.body-element-text{
    padding-top:0.8vh;
}
.qr-code{
    display:none;
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 12.5vw;
}
.qr-code:hover{
    opacity:0.6;
    cursor: pointer;
}
.christmas{
    width:55vw; 
    margin-top:5vh; 
    margin-left:-7.5vw;
}
/*responsive*/
@media only screen and (max-width: 1250px) {
    .img-header, .img-header1, .img-sax, .warning, .qr-code{
        display: none;
    }
    p, li{
        font-size: 5vw;
    }
    h1{
        font-size: 10vw;
    }
    h2{
        font-size: 8vw;
    }
    .body-element{
        height: 10vh;
        width: 45vw;
        border-width:0.3vw;
    }
    .body-element-text{
        padding-top:1vh;
    }
    .header{
        width:45vw;
    }
    .big-element{
        width: 85vw;
    }
    .icon{
        width: 6vw;
        height: 6vw;
    }
    .body-ajax{
        width:80vw;
    }
    .small-text{
        font-size: 3vw;
        font-weight: 200;
    }
    .img-body{
        width: 70vw;
    }
    .christmas{
        width:85vw;
        margin-left: -1.5vw;
    }
}
@media only screen and (max-width: 530px) {
    .small-text{
        font-size: 4vw;
        font-weight: 200;
    }
    .body-element{
        width:55vw;
        height: 5vh;
    }
    .body-element-text{
        padding-top:1.6vh;
    }
    .big-element{
        width: 95vw;
    }
    .dumb{
        width:82vw;
    }
    .back-next{
        width: 30vw;
    }
    .header{
        width:55vw;
    }
    .christmas{
        width:95vw;
        margin-left: -7.5vw;
    }
}
